@page "/"
@page "/home"

@*<header class="position-relative m-0">
    <video playsinline muted autoplay loop>
        <source  src="/videos/background.mp4/" type="video/mp4">
    </video>

    <div class="d-flex position-absolute text-center align-content-center">
        <h1 class="text-center text-white">Home</h1>
    </div>
    
</header>*@

<main>
    <h1 class="text-center my-3">Welcome</h1>
    <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt velit vel maximus dignissim. Vivamus eleifend purus quis ipsum luctus, et tristique felis imperdiet. Proin eu magna maximus, sagittis velit eget, placerat ante. In ut tristique ante, in accumsan risus. In lacinia vel est eu condimentum. Nunc blandit, sapien et pellentesque euismod, nisi elit scelerisque libero, vel iaculis turpis lacus a dolor. Mauris nisl mi, ornare a turpis vitae, cursus porta arcu. Suspendisse laoreet arcu ac mauris faucibus, eget venenatis risus lobortis. Integer ac velit sed erat sagittis pharetra. Curabitur faucibus tellus enim, id convallis ligula placerat luctus. Praesent rutrum justo in odio auctor ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur viverra non lacus eget molestie.

        Nulla pulvinar maximus tristique. Duis ornare nisi vel feugiat interdum. Pellentesque vel lectus eget tortor ornare faucibus ac in eros. Nam dignissim magna sapien, a posuere velit accumsan at. Proin ac libero varius, pulvinar enim et, tempor ante. Morbi blandit augue sollicitudin ex sollicitudin, pulvinar lobortis leo condimentum. Curabitur vel metus a dui elementum imperdiet a et justo. Quisque mollis rhoncus mi eget iaculis.

        Integer sed pharetra est, et posuere lorem. Sed dapibus neque non consequat rutrum. Maecenas lectus tortor, tristique ut faucibus quis, lobortis sit amet quam. Nulla fringilla sed nisi eget dapibus. Donec sit amet nisl leo. Sed eu aliquet lorem, vel ultrices lorem. Quisque ante arcu, faucibus vel elit blandit, mollis mollis massa. Donec ac mi vel lectus accumsan venenatis ac interdum turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vestibulum ac tortor at fermentum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt velit vel maximus dignissim. Vivamus eleifend purus quis ipsum luctus, et tristique felis imperdiet. Proin eu magna maximus, sagittis velit eget, placerat ante. In ut tristique ante, in accumsan risus. In lacinia vel est eu condimentum. Nunc blandit, sapien et pellentesque euismod, nisi elit scelerisque libero, vel iaculis turpis lacus a dolor. Mauris nisl mi, ornare a turpis vitae, cursus porta arcu. Suspendisse laoreet arcu ac mauris faucibus, eget venenatis risus lobortis. Integer ac velit sed erat sagittis pharetra. Curabitur faucibus tellus enim, id convallis ligula placerat luctus. Praesent rutrum justo in odio auctor ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur viverra non lacus eget molestie.

        Nulla pulvinar maximus tristique. Duis ornare nisi vel feugiat interdum. Pellentesque vel lectus eget tortor ornare faucibus ac in eros. Nam dignissim magna sapien, a posuere velit accumsan at. Proin ac libero varius, pulvinar enim et, tempor ante. Morbi blandit augue sollicitudin ex sollicitudin, pulvinar lobortis leo condimentum. Curabitur vel metus a dui elementum imperdiet a et justo. Quisque mollis rhoncus mi eget iaculis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt velit vel maximus dignissim. Vivamus eleifend purus quis ipsum luctus, et tristique felis imperdiet. Proin eu magna maximus, sagittis velit eget, placerat ante. In ut tristique ante, in accumsan risus. In lacinia vel est eu condimentum. Nunc blandit, sapien et pellentesque euismod, nisi elit scelerisque libero, vel iaculis turpis lacus a dolor. Mauris nisl mi, ornare a turpis vitae, cursus porta arcu. Suspendisse laoreet arcu ac mauris faucibus, eget venenatis risus lobortis. Integer ac velit sed erat sagittis pharetra. Curabitur faucibus tellus enim, id convallis ligula placerat luctus. Praesent rutrum justo in odio auctor ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur viverra non lacus eget molestie.

        Nulla pulvinar maximus tristique. Duis ornare nisi vel feugiat interdum. Pellentesque vel lectus eget tortor ornare faucibus ac in eros. Nam dignissim magna sapien, a posuere velit accumsan at. Proin ac libero varius, pulvinar enim et, tempor ante. Morbi blandit augue sollicitudin ex sollicitudin, pulvinar lobortis leo condimentum. Curabitur vel metus a dui elementum imperdiet a et justo. Quisque mollis rhoncus mi eget iaculis.

    </p>
</main>


