@inherits LayoutComponentBase

@*Make the navbar fixed to the top of the screen*@
<div class="fixed-top w-100">
    <NavMenu></NavMenu>
</div>

@*Put page content in here*@
<div class="d-flex position-relative flex-column">
    @Body
</div>





