<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient py-1">
    <div class="container-md">
        <NavLink class="navbar-brand ms-2 ms-md-0 text-white text-center">
            <h1 class="mb-0 ms-0 text-light">
                <i class="fab fa-bootstrap me-md-3 me-2"></i>Tracker
            </h1>
        </NavLink>

        <button class="navbar-toggler me-2 me-md-0 text-light border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/exercises">Exercises</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/logbook">Logbook</NavLink>
                </li>
            </ul>
            <div class="d-flex justify-content-center justify-content-lg-end text-white my-2 my-lg-0">
                <NavLink class="btn btn-outline-light text-light shadow-lg">Login</NavLink>
                <p class="px-3 my-auto"><b>or</b></p>
                <NavLink class="btn btn-outline-warning text-warning shadow-lg">Register</NavLink>
            </div>
        </div>
    </div>
</nav>