@*<div class="navbar sticky-top bg-primary py-2">
    <div class="container-md">
        <nav class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
            <NavLink class="d-flex align-items-center col-md-3 text-light text-decoration-none">
                <i class="fab fa-bootstrap fa-3x"></i>
                <h1 class="mb-0 ms-3 text-light">Tracker</h1>
            </NavLink>
            
            <button class="navbar-toggler text-light rounded-2 border-1 border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse col-lg-9" id="navbarSupportedContent">
                <ul class="nav list-group shadow-none gap-3 list-group-flush list-group-horizontal-lg col-lg-6 my-3 my-lg-0 justify-content-center text-center">
                    <li class="nav-item">
                        <NavLink href="/" class="nav-link text-light px-2">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink href="/exercises" class="nav-link text-light px-2 mx-2">Exercises</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink href="/logbook" class="nav-link text-light px-2">Logbook</NavLink>
                    </li>
                </ul>
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <div class="d-flex justify-content-center justify-content-lg-end align-center">
                        <NavLink class="btn btn-outline-light text-light shadow-lg">Login</NavLink>
                        <p class="px-3 my-auto text-center align-center text-light">or</p>
                        <NavLink class="btn btn-outline-warning text-warning shadow-lg">Register</NavLink>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>*@
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary py-1">
    <div class="container-md">
        <NavLink class="navbar-brand ms-2 ms-md-0 text-white text-center">
            <h1 class="mb-0 ms-0 text-light">
                <i class="fab fa-bootstrap me-md-3 me-2"></i>Tracker
            </h1>
        </NavLink>

        <button class="navbar-toggler me-2 me-md-0 text-light border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/exercises">Exercises</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" Match=@NavLinkMatch.All href="/logbook">Logbook</NavLink>
                </li>
            </ul>
            <div class="d-flex justify-content-center justify-content-lg-end text-white my-2 my-lg-0">
                <NavLink class="btn btn-outline-light text-light shadow-lg">Login</NavLink>
                <p class="px-3 my-auto"><b>or</b></p>
                <NavLink class="btn btn-outline-warning text-warning shadow-lg">Register</NavLink>
            </div>
        </div>
    </div>
</nav>